{% extends "taban.html" %}
{% block icerik %}

<h2><i class="fa solid fa-sign-in-alt" aria-hidden="true"></i> {{ baslik }}</h2>

<hr />

 {% if hata %}
    <div class="alert alert-danger" style="color:black" role="alert">
        <h3 style="color:black">{{ hata }}</h3>
    </div>
    <hr />
 {% endif %}

<form method="post" action="#">
    <div class="fields">
        <div class="field">
            <input type="mail" name="mail" id="mail" placeholder="E-Posta Adresi" />
        </div>
        <div class="field">
            <input type="password" name="sifre" id="sifre" placeholder="Şifre" />
        </div>
        <div class="field">
            <input type="checkbox" id="insan" name="insan" /><label for="insan">Sizin Gibi Robot Değilim :)</label>
        </div>
    </div>
    <ul class="actions special">
        <li><button type='submit'><i class="fa solid fa-sign-in-alt" aria-hidden="true"></i> Giriş Yap</button></li>
        <li><a class="button" href="/kayit_ol"><i class="fa solid fa-key" aria-hidden="true"></i> Kayıt Ol</a></li>
    </ul>
</form>

{% endblock %}